BizTalk/EAIProject/EAISchemas/SendRequestConsole/Service References/EAIOrchestration/EAIOrchestration_EAIProcess_ReceivePort.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns="http://EAISchemas.Request" xmlns:b="http://schemas.microsoft.com/BizTalk/2003" xmlns:ns0="https://EAISchemas.PropertySchema" targetNamespace="http://EAISchemas.Request" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:annotation>
    <xs:appinfo />
  </xs:annotation>
  <xs:element name="Request">
    <xs:annotation>
      <xs:appinfo />
    </xs:annotation>
    <xs:complexType>
      <xs:sequence>
        <xs:element name="Header">
          <xs:complexType>
            <xs:sequence>
              <xs:element name="RequestID" type="xs:string" />
              <xs:element name="OrderDate" type="xs:date" />
              <xs:element name="GrandTotal" type="xs:decimal" />
            </xs:sequence>
          </xs:complexType>
        </xs:element>
        <xs:element name="Items">
          <xs:complexType>
            <xs:sequence>
              <xs:element minOccurs="1" maxOccurs="unbounded" name="Item">
                <xs:complexType>
                  <xs:sequence>
                    <xs:element name="Description" type="xs:string" />
                    <xs:element name="UnitPrice" type="xs:unsignedInt" />
                    <xs:element name="Quantity" type="xs:unsignedInt" />
                  </xs:sequence>
                </xs:complexType>
              </xs:element>
            </xs:sequence>
          </xs:complexType>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>