DOTNET/Web/WCF/TestManagerslib/TestManagerClient/Service References/TestManagerServiceClient/ManagerService1.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/TestManagerslib.Contract" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/TestManagerslib.Contract" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="CTestManager">
    <xs:sequence>
      <xs:element minOccurs="0" name="Description" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Duration" nillable="true" type="xs:int" />
      <xs:element minOccurs="0" name="GradeID" nillable="true" type="xs:int" />
      <xs:element minOccurs="0" name="Name" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="NumberOfQuestions" nillable="true" type="xs:int" />
      <xs:element minOccurs="0" name="PassingMarks" nillable="true" type="xs:int" />
      <xs:element minOccurs="0" name="Percent" nillable="true" type="xs:decimal" />
      <xs:element minOccurs="0" name="TestId" type="xs:int" />
      <xs:element minOccurs="0" name="TotalMarks" nillable="true" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="CTestManager" nillable="true" type="tns:CTestManager" />
  <xs:complexType name="ArrayOfCTestManager">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="CTestManager" nillable="true" type="tns:CTestManager" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfCTestManager" nillable="true" type="tns:ArrayOfCTestManager" />
</xs:schema>